<%= stripe_javascript_tag (params[:version] || :v3) %>

<script>
  if (typeof(Stripe) != 'undefined') {
    document.write("<p>This page tests the loading and initialization of Stripe JS</p>");    
  }
</script>
