*.gem
gemfiles/*.lock
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
test/dummy/**/*.log
tmp
.rvmrc
.DS_Store
.ruby-version
